doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title tech-diary
    link(rel='stylesheet', href="./css/style.css")
    link(rel='stylesheet', href="./css/table.css")
  body
    header
      h1 tech-diary
    div#tip(diplay="block") hey
    table(cellspacing="0px")
      tbody
        - var months = ["December", "November", "October", "September", "August", "July", "June", "May", "April", "March", "February", "Janaury"]
        - var count = 12
        - var string
        each month in months
          tr
            td.month.tinfo= month
            - for (var i = 0; i < 31; i++)
              - string = count + "-" + (i+1)
              td(data-date= string)
            - count = count - 1
        tr#day
          td
          - for(var i = 1; i < 32; i++)
            td.day.tinfo= i
    script(src="./js/bundle.js")
