doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href="http://cdn.bootcss.com/highlight.js/8.0/styles/tomorrow.min.css")
    link(rel='stylesheet', href="../css/layout.css")

  body
    div.content
      != contents
    footer
      address.author Copyright ©
        a(href="https://github.com/sidkwok") Sid
    script(src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js")
    script.
      hljs.initHighlightingOnLoad();
